/**************** fonts********************************/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebasneue-webfont.woff') format('woff'),
    url('bebasneue-webfont.ttf') format('truetype'),
    url('bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {outline: 0 none; margin: 0; padding: 0;}
textarea {resize: none}
h1, h2, h3, h4, h5, h6 {font-weight: normal;margin: 0;padding: 0 0 8px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ABABAB;}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ABABAB;}
input:-ms-placeholder {
    line-height: 30px;
}
/**** reusables *******/
.brown {
    color: #723300;}
.orange {
    color: #e94d29;}
.magenta {
    color: #2ddcce;}
.grey {
    color: #a7a6a6;}
#wrapp p.brown_two {
    font-size: 1.4em;
    font-weight: normal;
    width: 343px;
    position: absolute;
    padding: 20px;
    right: 98px;
    top: 25px;
    line-height: 1.3em;}
.clear {clear: both}
.dno{display: none;}
.bdtted { border: 1px dotted;}
/***** app *****/
.header {background-image: url("../img/header.jpg");height: 179px;width: 808px;margin-bottom: 13px;}
.footer {background-image: url("../img/bg_footer.png");height: 107px;}
.request {background-position: center center;background-repeat: no-repeat;display: block;margin-left: auto;margin-right: auto;}
.descubre {background-image: url("../img/descubre.png");width: 597px;height: 112px;margin-top: 26px;}
.bebas {font-family: 'BebasNeueRegular';}

.txt_logo {color: #4d210c; width: 186px; border-top: 5px solid #693d0d; border-bottom: 5px solid #693d0d;background-image: none;}
.txt_logo span {display: block;font-size: 45.66px;line-height: 0.6em;padding-top: 0.2em; margin-bottom: -0.3em;}
.txt_logo small {color: #c25d2d;font-size: 40.99px;line-height: 1em;}
.txt_logo big {color: #c25d2d;font-size: 72.08px;line-height: 0.65em;}
.txt_logo p {font-size: 23.95px;line-height: 0.9em;}
.bg_radious textarea {
    text-transform: uppercase;
    margin: 22px auto 23px !important;
    font-weight: bold;
    font-size: 10.96px;
    display: block;
    color: #773d64;
    width: 450px;
    height: 224px;
    border: 3px solid #6f6f6f !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.btns {width: 214px;height: 53px;background-image: url("../img/sprite.png");}
.btn_enviar {background-position: 0 0;   width: 214px; height: 53px;}
.btn_enviar:hover {background-position: 0 -54px;}
.btn_participar {margin-top: 30px; background-position: 0 -108px; }
.btn_participar:hover { background-position: 0 -162px; }
.btn_participar_off { background-position: 0 -216px;
    position: relative;
    top: -53px;}
.formulario {background-image: url("../img/formulario.png");width: 574px;height: 42px;margin-top: 32px}
.cont_form {width: 284px;background-image: none;}
.cont_form input,
.cont_form .custom.dropdown {
    margin-top: 5px;
    padding-left: 40px !important;
    color: #000;
    width: 276px;
    height: 31px;
    line-height: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}
.cont_form .custom.dropdown {
    padding-left: 5px !important;}
.cont_form select {padding-left: 0 !important;border: 2px solid #c5c5c5;}
.cont_form label {font-size: 13.02px;color: #a77a5d;text-transform: uppercase;font-weight: bold;margin-top: 5px;}
.name {background-position: 5px -326px;}
.dni {background-position: 5px -361px;}
.email {background-position: 5px -388px;}
.place {background-position: 5px -508px;}

/****************global********************************/
.campo { width: 110%;}
#form_registro .campo .row, #form_registro #check_info, #form_registro #check_tyc {
    position: relative;
    margin-bottom: 12px;}

#form_registro #check_info label, #form_registro #check_tyc label {
    text-transform: none;
    font-size: 0.65em;}

#form_registro #check_tyc label.error, #form_registro #check_info label.error {
    display: none !important;}

#lnk_terminos {
    text-decoration: underline;
    color: #ff5734;}

.thanks {
    margin-top: 50px;
    margin-bottom: 55px;
    background-image: url("../img/gracias.png");
    width: 549px;
    height: 162px;}












