{% extends "base_fblogin.html" %}
        {% block setsize %}
            FB.Canvas.setAutoGrow();
        {% endblock setsize %}

{% block content %}
<div class="fan">
    <a href="{{ url_for('home') }}" onclick="_gaq.push(['_trackEvent','Winefest-Conversion', '1-Iniciar-Home', ''])">
        <img src="{{ url_for('static', filename='img/ingreso.png') }}"  alt=""/>
        <span class="btns btn_ingresar request" ></span>
    </a>
</div>


{% endblock content %}
{% block scripts %}


{% endblock scripts %}

