{% extends "base.html" %}
{% block title %}Juego{% endblock title %}

{% block content %}
<div class="row">
    <div class="sombra"></div>
    <div class="columns small-6 ">
       <div class="cont_left"> 
            <p class="mensaje">Haz click en las capsulas para seleccionar tu
            respuesta</p>
            <div id="contador" class="intentos">
                <span class="num">1</span><sup>/3</sup></div>
        </div>
        <div class="cont_fotos">
            <img id="grupo1-img" src="{{ url_for('static', filename='img/foto1.jpg') }}">
            <img id="grupo2-img" src="{{ url_for('static', filename='img/foto2.jpg') }}">
            <img id="grupo3-img" src="{{ url_for('static', filename='img/foto3.jpg') }}">
        </div>
    </div>

    <div class="columns small-6">
		<div id="top"></div>
        <form id="form_game" method="post" action="{{ url_for('game') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="cont_pastillas">

            
            {% for question in questions %}
            <div id="grupo{{ loop.index }}" class="grupo block{% if loop.index==1 %} first{% elif loop.index == 3 %} last{% endif %}"  data-num="{{ question.capsule_count }}" data-id="{{ question.product_id }}">
                <div class="nom_grupo"><b><span>{{ question.name|nl2br|safe }}</span></b></div>
                        
				 <div class="timer">
					<canvas id="timerCircle{{ loop.index }}" class="timerCircle" width="58" height="58"></canvas>
					<span class="magenta">10</span>
				</div>
				
				
                <ul class="clear">
                    {% for choice in question.choices %}
                    <li><a href="" id="{{ choice }}" class="capsule cap_{{ choice|number_name }}"></a></li>
                    {% endfor %}
                </ul>
            </div>
			
            {% endfor %}
         </div>   
            <div class="recordatorio">
                <span>Recuerda, si se necesitan 2 capsulas, escogelas en el
                <b>orden</b> correcto</span>
            </div>
       
		<input type="hidden" id="resp" name="resp" />
		 </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}

{% block scripts_juego %}
	<!--[if lt IE 9]><script text="text/javascript" src="{{ url_for('static', filename='js/excanvas.js') }}"></script><![endif]-->
	<script src="{{ url_for('static', filename='js/dolcepapa2013.js') }}"></script>
	<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
	 <script type="text/javascript">
	jQuery(document).ready(function(){
		"use strict";		
		$(".cont_pastillas li a").click(function(e){
			e.preventDefault();
		});

	
	});

	jQuery(window).load(function(){
		dolcePapa.panelTime($("#grupo1"));
		
	});
	</script>
	
{% endblock scripts_juego %}


