{% extends "base_fblogin.html" %}
        {% block setsize %}
            FB.Canvas.setSize({ width: 810, height:795 });
        {% endblock setsize %}

{% block content %}
    <p>&nbsp <br></p>
    <div class="big_text">
        <div class="txt_logo bebas request text-center">
        </div>
    </div>
    <p>&nbsp <br></p>
    <p>&nbsp <br></p>
    <div class="thanks request"></div>
    <p>&nbsp <br></p>
{% endblock %}

{% block scripts_formulario %}
    <script src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.alphanumeric.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.forms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/valid.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            
           $('.btn_compartir span').click(function(e){
                    e.preventDefault();
                    var img = "{{ DOMAIN_URL }}{{ url_for('static', filename='img/90x90.jpg') }}";
                    FB.ui({
                            method: 'feed',
                            name: 'El regalo perfecto a la medida de papá',
                            link: 'http://www.facebook.com/NescafeDolceGustoPeru/app_129567663916076',
                            picture: img,
                            description: 'Tú también juega para participar del sorteo de una extraordinaria máquina Nescafé Dolce Gusto y un iPad Mini.',
                            message: ''
                    });		
                    return false;
            });
                        
        });
    </script>

{% endblock %}
