{% extends "base_fblogin.html" %}
{% block content %}
    <p>&nbsp <br></p>
    <div class="big_text">
        <div class="txt_logo bebas request text-center">
        </div>
    </div>
    <p>&nbsp <br></p>
    <p>&nbsp <br></p>
    <div class="nofan">
        <img src="{{ url_for('static', filename='img/ganadores.png') }}"  alt=""/>
    </div>
    <p>&nbsp <br></p>
{% endblock %}

<img src="{{ url_for('static', filename='img/bg_footer.png') }}"  alt=""/>

{% block scripts %}


{% endblock scripts %}
